In [1]:
import numpy as np
import pandas as pd

In [30]:
df = pd.read_csv('renfe.csv', index_col=False, parse_dates=['start_date','end_date'])
df = df.dropna()
df = df.drop('insert_date',axis=1)

,origin,destination,start_date,end_date,train_type,price,train_class,fare
0,MADRID,BARCELONA,2019-04-18 05:50:00,2019-04-18 08:55:00,AVE,68.95,Preferente,Promo
1,MADRID,BARCELONA,2019-04-18 06:30:00,2019-04-18 09:20:00,AVE,75.40,Turista,Promo
2,MADRID,BARCELONA,2019-04-18 07:00:00,2019-04-18 09:30:00,AVE,106.75,Turista Plus,Promo
3,MADRID,BARCELONA,2019-04-18 07:30:00,2019-04-18 10:40:00,AVE,90.50,Turista Plus,Promo
4,MADRID,BARCELONA,2019-04-18 08:00:00,2019-04-18 10:30:00,AVE,88.95,Turista,Promo
...,...,...,...,...,...,...,...,...
7671349,VALENCIA,MADRID,2019-07-20 14:50:00,2019-07-20 22:17:00,REGIONAL,28.35,Turista,Adulto ida
7671350,VALENCIA,MADRID,2019-07-20 14:10:00,2019-07-20 15:48:00,AVE,33.65,Turista,Promo
7671351,VALENCIA,MADRID,2019-07-20 12:40:00,2019-07-20 14:20:00,AVE,45.30,Turista,Promo
7671352,VALENCIA,MADRID,2019-07-20 10:40:00,2019-07-20 13:05:00,INTERCITY,15.70,Turista,Promo
7671353,VALENCIA,MADRID,2019-07-20 09:40:00,2019-07-20 11:20:00,AVE,45.30,Turista,Promo

In [31]:
df = df.set_index('start_date')
df

,origin,destination,end_date,train_type,price,train_class,fare
start_date,,,,,,,
2019-04-18 05:50:00,MADRID,BARCELONA,2019-04-18 08:55:00,AVE,68.95,Preferente,Promo
2019-04-18 06:30:00,MADRID,BARCELONA,2019-04-18 09:20:00,AVE,75.40,Turista,Promo
2019-04-18 07:00:00,MADRID,BARCELONA,2019-04-18 09:30:00,AVE,106.75,Turista Plus,Promo
2019-04-18 07:30:00,MADRID,BARCELONA,2019-04-18 10:40:00,AVE,90.50,Turista Plus,Promo
2019-04-18 08:00:00,MADRID,BARCELONA,2019-04-18 10:30:00,AVE,88.95,Turista,Promo
...,...,...,...,...,...,...,...
2019-07-20 14:50:00,VALENCIA,MADRID,2019-07-20 22:17:00,REGIONAL,28.35,Turista,Adulto ida
2019-07-20 14:10:00,VALENCIA,MADRID,2019-07-20 15:48:00,AVE,33.65,Turista,Promo
2019-07-20 12:40:00,VALENCIA,MADRID,2019-07-20 14:20:00,AVE,45.30,Turista,Promo
2019-07-20 10:40:00,VALENCIA,MADRID,2019-07-20 13:05:00,INTERCITY,15.70,Turista,Promo
2019-07-20 09:40:00,VALENCIA,MADRID,2019-07-20 11:20:00,AVE,45.30,Turista,Promo

In [32]:
df.isnull().sum()

origin         0
destination    0
end_date       0
train_type     0
price          0
train_class    0
fare           0
dtype: int64

In [33]:
df2 = df[df['origin']=='MADRID']
df3 = df2[df2['destination']=='BARCELONA']
df3

,origin,destination,end_date,train_type,price,train_class,fare
start_date,,,,,,,
2019-04-18 05:50:00,MADRID,BARCELONA,2019-04-18 08:55:00,AVE,68.95,Preferente,Promo
2019-04-18 06:30:00,MADRID,BARCELONA,2019-04-18 09:20:00,AVE,75.40,Turista,Promo
2019-04-18 07:00:00,MADRID,BARCELONA,2019-04-18 09:30:00,AVE,106.75,Turista Plus,Promo
2019-04-18 07:30:00,MADRID,BARCELONA,2019-04-18 10:40:00,AVE,90.50,Turista Plus,Promo
2019-04-18 08:00:00,MADRID,BARCELONA,2019-04-18 10:30:00,AVE,88.95,Turista,Promo
...,...,...,...,...,...,...,...
2019-05-26 10:30:00,MADRID,BARCELONA,2019-05-26 13:15:00,AVE,107.70,Turista,Flexible
2019-05-26 11:30:00,MADRID,BARCELONA,2019-05-26 14:40:00,AVE,181.50,Preferente,Flexible
2019-05-26 09:30:00,MADRID,BARCELONA,2019-05-26 12:34:00,AVE,107.70,Turista,Flexible
2019-05-26 07:30:00,MADRID,BARCELONA,2019-05-26 10:40:00,AVE,107.70,Turista,Flexible
2019-05-26 08:30:00,MADRID,BARCELONA,2019-05-26 11:15:00,AVE,107.70,Turista,Flexible